
database/globalterrorismdb_0718dist.csv
tevi.sql
app/core/database/globalterrorismdb_0718dist.csv
TeVi/app/core/database/globalterrorismdb_0718dist.csv
.vs/TeVi/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
