@import "All.css";

*{
    padding: 0;
    margin:0;
}

:root {
    --main-purple: #332285;
    --light-purple: #D7D5FF;
    --main-blue: #0090FF;
    --dark-blue: #0050AB;
    --darkest-blue: #0a0283;
    --white-text: #FFFFFF;
    --purplish-text: #c0abf1;
    --main-font-family: 1.2em 'Segoe UI', Verdana, sans-serif;
    --secondary-font: bold 3em 'Segoe UI', Verdana, sans-serif;
    --bold-italic: bold italic 2em 'Segoe UI', Verdana, sans-serif;
    --h1-font-size: 4em;
    --h2-font-size: 2em;
}


.summary {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    grid-gap: 50px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    grid-row: 1;
    max-width: 100%;
}

.pic {
    padding-top: 30px;
    grid-row: 1;
    max-width: 100%;
}

.pic img {
    max-width: 100%;
}

.team {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    grid-gap: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.first_column {
    grid-row: 1;
    display: block;
}

.second_column {
    grid-row: 1;
    display: block;
}

footer {
    padding-bottom: 5%;
    text-align: right;
}

footer .ipad_view img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-bottom: 120px;
}

video {
    height: 220px;
}

.social {
    padding-top: 10%;
    text-align: right;
}

.social h4 {
    padding-bottom: 3%;
    color: var(--darkest-blue);
    text-transform: uppercase;
}
.social h5 {
    padding-bottom: 5%;
    color: var(--darkest-blue);
}

.social_links img {
    height: 45px;
    float: right;
    margin-left: 5%;
}

.social_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 5%;
}

.social_irina {
    grid-column: 4;
    grid-row: 1;
}

.social_victor {
    grid-column: 3;
    grid-row: 1;
}
.social_bogdan {
    grid-column: 2;
    grid-row: 1;
}

.additional_info {
    grid-column: 1/3;
    grid-row: 2;
}

.additional_info p {
    color: var(--purplish-text);
    font-size: 1em;
    padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .menu-info {
        display: none;
    }
    
    .mobile-menu{
        display: unset;
        width: 30px;
        height: 30px;
        background-image: url("Backgrounds/menu-mobile.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-color: transparent;
        border:0;
        text-decoration: none;
        margin-top: 20px;
        float: right;
        margin-right: 40px;
    }

    img {
        padding-top: 20px;
    }
}

@media screen and (max-width: 376px) {
    .upper_intro {
        display:block;
        margin-right: auto;
        margin-left: auto;
    }
    
    .summary {
        display:block;
    }

    .text {
        font-size: 1.3em;
        padding-bottom: 0;
    }

    .pic {
        padding-top: 0;
    }
    
    .summary img {
        max-width: 100%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .team {
        font-size: 1.3em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .social {
        padding-top: 10%;
        text-align: right;
    }
    
    .social_links img {
        height: 45px;
        margin-left: 5%;
    }

    .social_wrap {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3, 1fr);
        padding-bottom: 5%;
    }
    
    .social_wrap div{
        margin-bottom: 20px;
    }
    
    .social_irina {
        grid-column: 1;
        grid-row: 1; 
    }
    
    .social_victor {
        grid-column: 1;
        grid-row: 2;
    }
    .social_bogdan {
        grid-column: 1;
        grid-row: 3;
    }

}

@media screen and (min-width: 377px) and (max-width: 805px)
{
    .upper_intro {
        display:block;
        margin-right: auto;
        margin-left: auto;
    }

    .summary {
        display:block;
    }

    .text {
        font-size: 1.7em;
        padding-bottom: 0;
    }

    .pic {
        padding-top: 0;
    }
    
    .summary img {
        max-width: 100%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .team {
        font-size: 1.7em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    video {
        height: 160px;
    }

    .social {
        padding-top: 10%;
        text-align: right;
    }
    
    .social_links img {
        height: 45px;
        margin-left: 5%;
    }

    .social_wrap {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3, 1fr);
        padding-bottom: 5%;
    }
    
    .social_wrap div{
        margin-bottom: 20px;
    }
    
    .social_irina {
        grid-column: 1;
        grid-row: 1; 
    }
    
    .social_victor {
        grid-column: 1;
        grid-row: 2;
    }
    .social_bogdan {
        grid-column: 1;
        grid-row: 3;
    }

}
@media only screen and (min-width: 806px) and (max-width: 1023px){

	/* .nav-area li{
		display: none
    }
    
	.mobile-menu{
	width: 30px;
    height: 30px;
    background-image: url("Backgrounds/menu-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: transparent;
    border:0;
    text-decoration: none;
    margin-top: 30px;
    float: right;
    margin-right: 70px;
    } */

    .social {
        padding-top: 10%;
        text-align: left;
    }
    
    .social_links img {
        height: 45px;
        margin-left: 5%;
    }

    .social_wrap {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3, 1fr);
        padding-bottom: 5%;
    }

    .social_wrap div{
        margin-bottom: 20px;
    }
    
    .social_irina {
        grid-column: 1;
        grid-row: 1; 
    }
    
    .social_victor {
        grid-column: 1;
        grid-row: 2;
    }
    .social_bogdan {
        grid-column: 1;
        grid-row: 3;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1250px) {
    .summary {
        display:block;
    }

    .text {
        font-size: 1.5em;
        padding-bottom: 0;
    }

    .pic {
        padding-top: 0;
    }

    .team {
        font-size: 1.5em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    video {
        height: 300px;
    }

}


@media screen and (min-width: 1400px)
{
    p { 
        font-size:1.5vw;
    }
    
    h1 {
        font-size:5vw;
    }
    
    h2 {
        font-size:3vw;
    }
        
    h3 { 
        font-size:2vw;
    }

    .navigation {
        font-size:1.5vw;
    }
}