:root {
    --main-purple: #332285;
    --light-purple: #D7D5FF;
    --main-blue: #0090FF;
    --dark-blue: #0050AB;
    --darkest-blue: #0a0283;
    --white-text: #FFFFFF;
    --purplish-text: #c0abf1;
    --main-font-family: 1.2em 'Segoe UI', Verdana, sans-serif;
    --secondary-font: bold 3em 'Segoe UI', Verdana, sans-serif;
    --bold-italic: bold italic 2em 'Segoe UI', Verdana, sans-serif;
    --h1-font-size: 4em;
    --h2-font-size: 2em;
}

body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background:var(--white-text);
}
.box{
    width:300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--dark-blue);
    text-align: center;
    border-radius: 24px;
}

.box h1{
    color:var(--white-text);
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"],.box input[type ="password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--main-blue);
    padding: 14px 10px;
    width: 200px;
    outline:none;
    color:white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus,.box input[type ="password"]:focus{
    width: 280px;
    border-color:var(--purplish-text);
}
.box input[type="submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--purplish-text);
    padding: 14px 40px;
    outline:none;
    color:white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background:var(--purplish-text);
}

.box a{
    display: block;
    color: var(--white-text);
    margin-bottom: 10px;
}