* {
	margin: 0;
	padding: 0;
}

body{
	font: var(--main-font-family);
}

:root {
	--main-purple: #332285;
	--light-purple: #D7D5FF;
	--main-blue: #0090FF;
	--dark-blue: #0050AB;
	--darkest-blue: #0a0283;
	--white-text: #FFFFFF;
	--purplish-text: #c0abf1;
	--main-font-family: 1.2em 'Segoe UI', Verdana, sans-serif;
	--secondary-font: bold 3em 'Segoe UI', Verdana, sans-serif;
	--bold-italic: bold italic 2em 'Segoe UI', Verdana, sans-serif;
	--h1-font-size: 4em;
	--h2-font-size: 2em;
}

.img-left{
	position: fixed;
	width: 25%;
}

.img-right{
	position: fixed;
	bottom: 0;
	right: 0;
	top: 0;
	height: 100%;
	width: auto;
}

.img-right-mobile{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	display: none;
}

.nav-area {
	margin-left: 28%;
	line-height: 35px;
	padding: 18px;
}

.nav-area li{
	display: inline;
}

.nav-area a {
	text-decoration: none;
	font-family: var(--main-font-family);
	color: var(--main-purple);
	text-transform: uppercase;
	font-weight:700;
	font-size: 1.2vw;
	padding: 0 3% 0;
}

.mobile-nav-area{
	display: none;
}


.wrapper {
	width: 600px;
	margin-top: 20%;
	margin-left: 10%;
	font-family: var(--main-font-family);
	color: var(--main-purple);
}

h5 {
	font-size: 3vw;
}

p {
	text-transform: uppercase;
}

.info-page {
	float:left;
}

.get-started-button{
	width: 201px;
	height: 56px;
	background-image: url("Backgrounds/get-started-button.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	color: var(--light-purple);
	font-weight:600;
	margin-top: 150px;
	margin-right: 150px;
	background-color: transparent;
}

.extra-info {
	margin-top:20px;
	text-align: center;
}
.extra-info p{
	padding: 10px 110px 20px 180px;
	font-size: 10px;
}

.bg-modal {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-contents {
    height: 450px;
    width: 230px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;
}

.modal-contents ul {
list-style: none;
}

.modal-contents li{
    padding: 10px 10px 10px;
}


.mobile-menu-text a{
    text-transform: uppercase;
    font-size:20px;
    text-decoration: none; 
}


.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    color: #333;
    transform: rotate(45deg);
    cursor: pointer;
}

/* Scaling for responsiveness */

/* @media only screen and (max-width: 376px){	
	.wrapper{
		width: 100%;
		margin: 40% auto;
	}

	.mobile-menu{
	width: 20px;
	height: 20px;
	}

	.img-left{
		width: 50%;
	}

	.img-right-mobile{
		width: 100%;
	}

	.extra-info p{
		font-size: 2.5vw;
	}

	.wrapper .extra-info {
		display: none;
	}

	.mobile-menu{
		margin-top: 10px;
		margin-right: 40px;
	}

	.extra-info {
		display: none;
	}
} */

@media only screen and (min-width: 377px) and (max-width: 767px) and (orientation: portrait){
	.img-right-mobile{
		width: 90%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
	.nav-area li{
		display: none
	}

	.img-left{
		width: 40%;
	}

	.img-right{
		display: none;
	}
	.img-right-mobile{
		display: unset;
	}
	.mobile-menu{
	width: 30px;
	height: 30px;
	background-image: url("Backgrounds/menu-mobile.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-color: transparent;
	border:0;
	text-decoration: none;
	margin-top: 30px;
	float: right;
	margin-right: 70px;
	}

	.wrapper {
		margin: 30% auto;
		text-align: center;
	}

	.get-started-button{
		margin-top: 50px;
		margin-right: unset;
	}	

	.info-page{
		float:unset;
	}

	.extra-info{
		margin: 40px;
	}

	.extra-info p{
		font-size: 1.5vw;
		padding: unset;
	}

	h5 {
		font-size: 8vw;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) and (orientation: portrait) {
	.nav-area li{
		display: none
	}

	.img-left{
		width: 40%;
	}

	.img-right{
		display: none;
	}
	.img-right-mobile{
		display: unset;
	}
	.mobile-menu{
	width: 30px;
	height: 30px;
	background-image: url("Backgrounds/menu-mobile.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-color: transparent;
	border:0;
	text-decoration: none;
	margin-top: 30px;
	float: right;
	margin-right: 70px;
	}

	.wrapper {
		margin: 30% auto;
		text-align: center;
	}

	.get-started-button{
		margin-top: 50px;
		margin-right: unset;
	}	

	.info-page{
		float:unset;
	}

	.extra-info{
		margin: 40px;
	}

	.extra-info p{
		font-size: 1.5vw;
		padding: unset;
	}

	h5 {
		font-size: 8vw;
	}
}


@media screen and (min-width: 1400px)
{
    p { 
        font-size:1.5vw;
    }
}

@media screen and (max-device-aspect-ratio: 16/10) and (orientation: landscape) {
	/* .img-left{
		display: none;
	} */

	.img-right{
		display: none;
	}

	.img-right-mobile {
		display: unset;
		max-width: 50%;
		position: fixed;
	}
}

@media screen and (max-device-aspect-ratio: 16/10) and (orientation: portrait) {
	/* .img-left{
		display: none;
	} */

	.img-right{
		display: none;
	}

	.img-right-mobile {
		display: unset;
		max-width: 80%;
		position: fixed;
	}
}

@media screen and (max-device-aspect-ratio: 16/10) and (orientation: portrait) and (max-width: 376px) {
	.nav-area li{
		display: none
	}

	h5 {
		font-size: 8vw;
	}

	.img-right{
		display: none;
	}

	.img-left{
		width: 50%;
	}

	.img-right-mobile{
		width: 100%;
	}

	.mobile-menu{
	width: 30px;
    height: 30px;
    background-image: url("Backgrounds/menu-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: transparent;
    border:0;
    text-decoration: none;
    margin-top: 10px;
    float: right;
    margin-right: 40px;
	}

	.get-started-button{
		
		margin-top: 50px;
		margin-right: unset;
	}	

	.info-page{
		float:unset;
	}

	.extra-info{
		margin: 40px;
	}

	.extra-info p{
		font-size: 2.5vw;
		padding: unset;
	}

	.wrapper {
		text-align: center;
		width: 100%;
		margin: 40% auto;
	}
}

@media screen and (min-device-aspect-ratio: 16/10) and (orientation: landscape) and (max-width : 1024px) {
	.body {
		max-width: 100%;
	}
	
	.img-right{
		display: none;
	}

	.img-left {
		display: none;
	}

	.nav-area a {
		font-size: 2vw;
	}

	.info-page h5 {
		font-size: 8vw;
	}

}