
*{
    margin:0;
    padding: 0;
}

:root {
    --main-purple: #332285;
    --light-purple: #D7D5FF;
    --main-blue: #0090FF;
    --dark-blue: #0050AB;
    --darkest-blue: #0a0283;
    --white-text: #FFFFFF;
    --purplish-text: #c0abf1;
    --main-font-family: 1.2em 'Segoe UI', Verdana, sans-serif;
    --secondary-font: bold 3em 'Segoe UI', Verdana, sans-serif;
    --bold-italic: bold italic 2em 'Segoe UI', Verdana, sans-serif;
    --h1-font-size: 4em;
    --h2-font-size: 2em;
}


.model-hierarchy{
    width: 50%;
    margin-top: 30px;
}


.wrapper{
    display: flex;
    width: 100%;

}

.model-hierarchy img{
    width: 100%;
    /*background-color: red;*/
}

.no-restrioctions{
  margin-top: 50%;
  margin-left: 30px;
}

.finish-button {
    width: 303px;
    height: 68px;
    background-image: url("../img/HierarchyModel/finishButton.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    background-color: transparent;
    margin: 0 auto;
    margin-left: 30px;
}

.back-button {
    width: 303px;
    height: 68px;
    background-image: url("../img/HierarchyModel/step2backButton.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    background-color: transparent;
    margin: 0 auto;
    margin-left: 30px;

}

.criteria_wrap {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 30px;
    align-items: center;
}

.criteria_wrap div p {
    letter-spacing: 1px;
    color: var(--darkest-blue);
    font-size: x-large;
}


.filter-panel {
        display: inline-block;
        margin-left: 2%;
        width: 250px;
        margin-top: 2%;
        float: left;
   }

   .filter-panel p{
       padding: 20px 20px 20px;
       background-color: #B8D2FF;
       border-top-left-radius: 10px;
       border-top-right-radius: 10px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       text-transform: uppercase;
       font-weight: 700;
       color: #385A64;
       font-size: 15px;
   }


   .filter-panel ul {
       overflow: hidden; overflow-y: scroll;
       background-color: #edf3ff;
       height: 250px;
       width: 100%;
       scroll-padding: 10px;    
    }

    .filter-panel li {
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       color: #385A64;
       font-size: 14px;
       padding: 20px 0px 0px 50px;
       font-weight: 500;
   }
    input[type='checkbox'] {
        width:14px;
        height:14px;
        background:white;
        border-radius:5px;
        border:2px solid #555;
        vertical-align: bottom;
    }

    label {
        padding-left: 10px;
    }
