


*{
    margin:0;
    padding: 0;
}

:root {
    --main-purple: #332285;
    --light-purple: #D7D5FF;
    --main-blue: #0090FF;
    --dark-blue: #0050AB;
    --darkest-blue: #0a0283;
    --white-text: #FFFFFF;
    --purplish-text: #c0abf1;
    --main-font-family: 1.2em 'Segoe UI', Verdana, sans-serif;
    --secondary-font: bold 3em 'Segoe UI', Verdana, sans-serif;
    --bold-italic: bold italic 2em 'Segoe UI', Verdana, sans-serif;
    --h1-font-size: 4em;
    --h2-font-size: 2em;
}


.model-hierarchy{
    width: 50%;
    margin-top: 30px;
}


.wrapper{
    display: flex;
    width: 100%;
    align-items: center;

}

.model-hierarchy img{
    width: 100%;
}


.next-button {
    width: 303px;
    height: 68px;
    background-image: url("HierarchyModel/step3nextButton.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    background-color: transparent;
    margin: 100px auto;
    margin-left: 30px;
}

.back-button {
    width: 303px;
    height: 68px;
    background-image: url("HierarchyModel/step2backButton.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    background-color: transparent;
    margin: 100px auto;
     margin-left: 30px;

}


.groupBy-wrapper{
    display: grid;
    grid-template-columns: repeat(3,6fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 60px;
    margin-left: 30px;
}

.groupBy-wrapper p{
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--darkest-blue);
    font-size: x-large;

}
/*
.chartchoice {
    display: none;
}
*/