/*Property names that are prefixed with --, like --example-name, 
represent custom properties that contain a value that can be used
in other declarations using the var() function.*/
:root {
    --main-purple: #332285;
    --light-purple: #D7D5FF;
    --main-blue: #0090FF;
    --dark-blue: #0050AB;
    --darkest-blue: #0a0283;
    --white-text: #FFFFFF;
    --purplish-text: #c0abf1;
    --main-font-family: 1.2em 'Segoe UI', Verdana, sans-serif;
    --secondary-font: bold 3em 'Segoe UI', Verdana, sans-serif;
    --bold-italic: bold italic 2em 'Segoe UI', Verdana, sans-serif;
    --h1-font-size: 4em;
    --h2-font-size: 2em;
    --h3:2em;
}

body {
    line-height: 1.5;
    font-family: 'Segoe UI', Verdana, sans-serif;
}

.menu-info {
    position: sticky;
    width: 100%;
    background-image: url("Backgrounds/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    top: 0;
}

.img-logo{
    height: 2.2em;
    padding: 18px;
}

.nav-area li{
    display: inline;
}

li a {
    text-decoration: none;
    font-family: var(--main-font-family);
    color: white;
    font-weight:700;
    font-size: 20px;
    padding: 0 10px 0;
}

.page_wrapper{
    width: 90%;
    padding-top: 40px;
    margin: 0 auto;
    position: relative;
}

#active {
    font-weight: bold; 
    color: var(--main-blue); /* may be changed, this is just for testing purpose */
}

/*There is nothing you can do to validate vendor extensions except to not use them.*/

input[type=search] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px;
  }

input[type=submit]{
    width:100px;
    color:white;
    background-color: var(--main-blue);
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    border: none;
}
input[type=submit]:hover{
    background-color: white;
    color:var(--main-blue);
    border: 2px solid var(--main-blue);
}


p { 
    text-align: justify;
    font-size: 1.2em;
}

h1 {
    font: var(--secondary-font);
    font-size: var(--h1-font-size);
    letter-spacing: 1px;
    max-width: 100%;
    color: var(--main-purple);
}

h2 {
    font: var(--main-font-family);
    font-size: var(--h2-font-size);
    letter-spacing: 1px;
    max-width: 100%; 
    color: var(--main-purple);
    margin-bottom: 20px;
}
    
h3 { 
    font: var(--main-font-family);
    font-size: 2em;
    letter-spacing: 1px; 
    margin-bottom: 30px; 
    max-width: 100%;
    color: var(--dark-blue);
}

h4 {
    font: var(--secondary-font);
    font-size: 1.5em;
    color: var(--dark-blue);
}

h5 {
    font: var(--main-font-family);
    font-size: 1em;
}

