html {
	margin: 0;
	padding: 0;
    }
    
body {
    height: 100%;
    width: 90%;
    font: 90% georgia, serif;
    line-height: 1.8;
    margin-left: 30px;
    /*background: linear-gradient(180deg, #B1CCCA 20%, #6AB187 80%);*/
    background-image: url("robot.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

p { 
    text-align: justify;
}

h1 {
    font: bold 5em georgia, sans-serif;
    letter-spacing: 1px; 
    margin-bottom: 0;
    margin-left: 10px;
    color: #6AB187;
}

h2 {
    font: bold 2em georgia, sans-serif;
    letter-spacing: 1px; 
    margin-bottom: 0;
    margin-left: 10px; 
    color: #6AB187;
}
    
h3 { 
    font: bold italic 1.7em georgia, sans-serif;
    letter-spacing: 1px; 
    margin-bottom: 20px; 
    width: 450px;
    color: #DE7A22;
}

.navigation {
    display: block;
    position: relative;
    font: bold 1.4em georgia, sans-serif;
    letter-spacing: 1px; 
    color: #6AB187;
    right: 0;
    width: 300px;
    top:-100px;
}

hr {
    position: relative;
    bottom: 10px;
    top:-30px;
}

a.coord {
    display: block;
    position: relative;
    font: bold 1.4em georgia, sans-serif;
    letter-spacing: 1px; 
    left: 320%;
    color: #6AB187;
}

a:link {
	font-weight: normal; 
	text-decoration: none; 
	color: #6AB187;
}

a:first-child { 
	font-weight: bold; 
	text-decoration: none; 
	color: #264031;
}

a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #DE7A22;
}

input {
    position: absolute;
    height: 35px;
    width: 200px;
    margin-left: 10px;
    padding: 0;
}

input.submit {
    position: relative;
    left: 210px;
    width: 50px;
    margin-left: 10px;
}

.summary .text {
    position: relative;
    clear: both; 
    width: 400px; 
    margin: 20px 20px 0px 20px; 
    float:left;
}

.team {
    clear: both; 
    width: 300px; 
    float:left;
    left: 50px;
}

.team .presentation {
    clear: both; 
    width: 400px; 
    margin: 10px 20px 30px 20px; 
    float: left;
}

.team .text { 
    clear: both; 
    width: 600px; 
    float: right; 
    position:relative;
    left:700px;
    top: -560px;
}

.summary img {
    position: relative;
    top:120px;
    float: right;
}

.team img {
    position: relative;
    top:10px;
    bottom: 20px;
    top: -530px;
    padding: 0;
    margin-left: 50%;
    margin-bottom: 0;
    padding: 0;
}

footer img {
    display: relative;
    margin: 1750px -100px -190px -400px;
}
