@import "All.css";

*{
    padding: 0;
    margin:0;
}

:root {
    --main-purple: #332285;
    --light-purple: #D7D5FF;
    --main-blue: #0090FF;
    --dark-blue: #0050AB;
    --darkest-blue: #0a0283;
    --white-text: #FFFFFF;
    --purplish-text: #c0abf1;
    --main-font-family: 1.2em 'Segoe UI', Verdana, sans-serif;
    --secondary-font: bold 3em 'Segoe UI', Verdana, sans-serif;
    --bold-italic: bold italic 2em 'Segoe UI', Verdana, sans-serif;
    --h1-font-size: 4em;
    --h2-font-size: 2em;
}

.page_wrapper section {
    padding-top: 50px;
}

.remarks {
    max-width: 100%;
}

.measures img {
    height: 100px;
    justify-content: center;
}

.measures {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.icon {
    flex: 50%;
    max-width: 40%;
    padding-right: 10%;
}

.icon {
    margin-top: 3%;
}

.pic img {
    margin-top: 3%;
}

.bullet a {
    color: var(--main-purple);
}

footer img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .menu-info {
        display: none;
    }
    
    .mobile-menu{
        display: unset;
        width: 30px;
        height: 30px;
        background-image: url("Backgrounds/menu-mobile.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-color: transparent;
        border:0;
        text-decoration: none;
        margin-top: 20px;
        float: right;
        margin-right: 40px;
    }

    img {
        padding-top: 20px;
    }
}


@media screen and (max-width: 376px) {


}

@media screen and (min-width: 377px) and (max-width: 805px)
{


}

@media screen and (min-width: 1024px) and (max-width: 1250px) {


}

@media screen and (min-width: 1400px)
{
    p { 
        font-size:1.5vw;
    }

    .navigation {
        font-size:1.5vw;
    }
}