.remarks {
    max-width: 100%;
}

.measures img {
    height: 100px;
    justify-content: center;
}

.measures {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.icon {
    flex: 50%;
    max-width: 40%;
    padding-right: 10%;
}

footer img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

video {
    height: 220px;
}

@media screen and (max-width: 376px) {


}

@media screen and (min-width: 377px) and (max-width: 805px)
{


}

@media screen and (min-width: 1024px) and (max-width: 1250px) {


}

@media screen and (min-width: 1400px)
{
    p { 
        font-size:1.5vw;
    }

    .navigation {
        font-size:1.5vw;
    }
}