h1 {
    font: bold 5em georgia, sans-serif;    
    padding: 10px;
    color: #6AB187;
}
h3 {
    color:#DE7A22;
}
li {
    list-style-type: none;
}

a{
    color:#6AB187;
    text-decoration: none;
}
a:hover{
    color:#DE7A22;
}
a:visited{
    color:none;
}

