*{
    margin:0;
    padding: 0;
}


.model-hierarchy{
    width: 50%;
    margin-top: 30px;
}


.wrapper{
    display: flex;
    width: 100%;
}

.model-hierarchy img{
    width: 100%;
}


.next-button {
    width: 303px;
    height: 68px;
    background-image: url("HierarchyModel/step3nextButton.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    background-color: transparent;
     margin: 0 auto;
    margin-top: 100px;
}
